@import "tailwindcss";

@theme {
  --color-charcoal: #020617;
  --color-emerald-500: #10b981;
}

@layer base {
  body {
    @apply bg-charcoal text-white font-sans antialiased;
    background-color: #020617;
  }
}
